.generalwrapper{
  /* border: 1px solid red; */
  display: flex;    
  flex-direction: column;
  height: 100vh;
  background-color: lightcyan;
}

.generalbody {
  /* border: 1px solid red; */
  display: flex;
  height: 90%;
}
